.App {
  text-align: center;
  color: black;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: floralwhite;
}

h1 {
  border-bottom: 1px solid black;
  width: 40%;
  padding: 20px;
}
